[submodule "libs/google_actions"]
	path = libs/google_actions
	url = git@github.com:dbdkmezz/actions-on-google-python.git
[submodule "apps/video_player"]
	path = apps/video_player
	url = git@github.com:dbdkmezz/gactions-video-player.git
[submodule "apps/word_finding"]
	path = apps/word_finding
	url = git@github.com:dbdkmezz/gactions-word-finding.git
